.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  font-family:'Gotham';
}

body {
  background: url(boathouse.png) repeat 0 0;
  background-size:100%
}

.App .sors {
  background-color: white;
}

.App .coach_view h1 {
  font-family:'Roboto';
}

.App .header {
  flex: 0 1 auto;
}

.App .content {
  flex: 1 1 auto;
}

.App .empty-workouts {
  margin-right: 25%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login-image img {
  background-color: 'transparent';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
